.button{
  border-radius: 25px;
  padding: 2px;
  text-align: center;
  transition: opacity .3s ease-in;
}

.button a{
  border-radius: 20px;
  text-transform: uppercase;
  font-family: $thirdFont !important;
  font-size: 12px !important;
  text-decoration: none !important;
}

.button_size-big a{
  padding: 10px 17px !important;
}

.button_size-small a{
  padding: 7px 18px !important;
}

.button_theme-dark a{
  color: $default-color !important;
}

.button_theme-light a{
  color: $purple-color !important;
  background: $default-color !important;
}

.button_background-not.button_theme-dark a{
  color: $fontColor50 !important;
}

.button_background-not,
.button_background-not a{
  background: none;
  padding: 0 !important;
}

.button_background-there,
.button_background-there a{
  background: linear-gradient($purple-color, #8BA4F9);
}