@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $fontColor50;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body{
  //background-color: #F4F4F6;
}

.label-field{
  color: $fontColor100;
  font-size: 12px !important;
  font-family: $thirdFont;
  text-transform: uppercase;
  display: block;
  margin: 50px;
  margin-bottom: 0;
}

// Modules
@import "../../components/header/header";
@import "../../components/elements/button/button-four/button-four";
@import "../../components/elements/button/button-three/button-three";
@import "../../components/elements/button/button";
@import "../../components/cards/calendar/calendar";
@import "../../components/footer/footer";
@import "../../components/elements/text-field/text-field";
@import "../../components/elements/dropdown/date/dropdown-date";
@import "../../components/elements/nav/header/nav";
@import "../../components/elements/nav/footer/nav";
@import "../../components/elements/elements";
@import "../../components/elements/dropdown/default/dropdown";
@import "../../components/elements/label/label";
@import "../../components/elements/radio/radio";
@import "../../components/elements/input/input";
@import "../../components/elements/checkbox/checkbox";
@import "../../components/header&footer/header&footer";

