block footer
  footer
    .footer_container
      .footer_description
        img(src="/assets/img/Logo.png").footer_logo
        p.desc Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      ul.footer_navigation
        li.navigation_item.navigation_item_main Навигация
        li.navigation_item
          a(href="#")  О нас
        li.navigation_item
          a(href="#") Новости
        li.navigation_item
          a(href="#") Служба поддержки
        li.navigation_item
          a(href="#") Услуги
      ul.footer_navigation
        li.navigation_item.navigation_item_main О нас
        li.navigation_item
          a(href="#")  О сервисе
        li.navigation_item
          a(href="#") Наша команда
        li.navigation_item
          a(href="#") Вакансии
        li.navigation_item
          a(href="#") Инвесторы
      ul.footer_navigation
        li.navigation_item.navigation_item_main Служба поддержки
        li.navigation_item
          a(href="#")  Соглашения
        li.navigation_item
          a(href="#") Сообщества
        li.navigation_item
          a(href="#") Связь с нами
      ul.footer_navigation.footer_navigation_subscription
        li.navigation_item.navigation_item_main Подписка
        li.navigation_item
          p Получайте специальные предложения и новости сервиса
        li.navigation_item
          include ../../desktop/text-field/default/text-field

  .copyright-bar
    .footer_container
      p.copyright-bar_item Copyright © 2018 Toxin отель. Все права зачищены.
      .copyright-bar_social-networks
        img(src="assets/img/twitter.png")
        img(src="assets/img/facebook.png")
        img(src="assets/img/instagram.png")