mixin text_field(options)
    input(type=options.type placeholder=options.placeholder class=options.subscription ? "text-field_subscription " + options.action: options.action value= options.value).text_field