// Font
$mainFont                : 'Montserrat-Regular', sans-serif;
$secondFont              : 'Quicksand-Bold', sans-serif;
$thirdFont              : 'Montserrat-Bold', sans-serif;

// Size
$mainFontColor           : rgba(31, 32, 65, 0.5);
$fontColor               : rgba(31, 32, 65, 1);
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #6FCF97;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : rgba(188, 156, 255, 0.5);
$purple-color            : #BC9CFF;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : rgba(31, 32, 65, 0.5);
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

$path-assets: "../../assets/" !default;
