mixin dropdown-date(id, value)
    label(for= id).label-field= value
    input(id= id type="text" value= ""  placeholder="ДД.ММ.ГГ" data-range="true" data-multiple-dates-separator=" - ").dropdown-date.datepicker-here