@import "../../assets/scss/utils/libs";
@import "../../assets/scss/utils/vars";
@import "../../assets/scss/utils/mixins";
@import "../../assets/scss/utils/fonts";
@import "../../assets/scss/utils/reset";

header{
  background-color: $default-color;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.header_container{
  max-width: $desktopWidth;
  display: flex;
  margin: auto;
  justify-content: space-between;
  @media screen and (max-width: $desktopWidth) {
    max-width: $smDesktopWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

.header_logo{
  padding: 15px 0;
}

.logo_img{
  width: 100%;
}

.header_button-menu{
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  position: relative;
  display: none;
  @media screen and (max-width: $tableWidth) {
    display: block;
  }
  z-index: 2;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.header_button-menu_item{
  background-color: $fontColor100;
  padding: 0;
  width: 30px;
  height: 4px;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.header_button-menu_item_one{
  top: 0;
}

.header_button-menu_item_two,
.header_button-menu_item_three{
  top: 13.5px;
}

.header_button-menu_item_three{
  right: 0;
}

.header_button-menu_item_four{
  bottom: 0;
}

.checkbox1:checked + label > .header_button-menu > .header_button-menu_item_one{
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 41px;
  background-color: $purple-color;
}

.checkbox1:checked + label > .header_button-menu > .header_button-menu_item_two{
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox1:checked + label > .header_button-menu > .header_button-menu_item_three{
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox1:checked + label > .header_button-menu > .header_button-menu_item_four {
  transform: rotate(-45deg);
  transform-origin: 5%;
  width: 41px;
  background-color: $purple-color;
}

.checkbox1:checked ~ ul.header_nav {
  transform: translate(0, 50px);

}

.header_nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  @media screen and (max-width: $tableWidth) {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 125px 0;
    right: 0;
    background-color: #F4F4F6;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

.header_nav_item{
  float: left;
  padding: 15px rem(10);
  @media screen and (max-width: $tableWidth) {
    float: none;
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
  }
}

.header_nav_item_dropdown a:hover{
  text-decoration: none;
}

.header_nav_item a{
  display: block;
  text-align: center;
  padding: 10px 0;
  color: $fontColor50;
  font-family: $mainFont;
  font-size: 14px;
}

.header_nav_item a:hover{
  text-decoration: underline;
  color: rgba(31, 32, 65, 0.75);;
}

.header_nav_item p{
  display: block;
  text-align: center;
  padding: 10px 0;
  color: $fontColor50;
  font-family: $mainFont;
  font-size: 14px;
  cursor: pointer;
}

.header_nav_item p:hover{
  text-decoration: underline;
  color: rgba(31, 32, 65, 0.75);;
}

.header_nav_item_active a{
  font-family: $thirdFont;
  font-weight: bold;
}

li.header_nav_item hr{
  border: none;
  background-color: rgba(31, 32, 65, 0.1);
  color: rgba(31, 32, 65, 0.1);
  height:40px;
  width: 1px;
  margin: 0;
  @media screen and (max-width: $tableWidth) {
    height: 1px;
    width: auto;
  }
}

span.header_nav_line:after{
  content: "";
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  font-size: 28px;
  @media screen and (max-width: $tableWidth) {
    display: none;
  }
}

.header_nav_arrow-up{
  padding-left: 10px;
  transition: transform 0.2s ease-in;
}

.dropdown{
  border: 1px solid $border-base;
  border-radius: 0 0 5px 5px;
  position: absolute;
  height: 100px;
  top: 70px;
  z-index: 1;
  display: none;
  margin: 0 auto;
  background-color: $default-color;
  @media screen and (max-width: $tableWidth) {
    position: relative;
    top: 0;
    transform: none;
    margin: 0 auto;
    text-align: center;
    border: none;
    background: none;
    height: auto;
  }
}

.dropdown_item a{
  color: $fontColor100;
  font-size: 12px;
  font-family: $thirdFont;
  text-transform: uppercase;
  padding: 5px 20px;
  @media screen and (max-width: $tableWidth) {
    margin: 0 auto;
    //padding: 10px 0;
    color: $fontColor50;
    //font-family: $mainFont;
    text-transform: none;
    font-size: 14px;
  }
}

.header_checkbox:checked + label > li > ul.dropdown{
  display: block;
}

.header_checkbox:checked + label > li > p > img.header_nav_arrow-up{
  transform: scale(1, -1);
}