include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    block head

  body()
    .invisible-block-head
      img.invisible-block-head_logo(src="/assets/img/logo_block.png")
    include ../../desktop/header/header
    .invisible-block
    include ../../desktop/header/header
    //include ../includes/modules/footer

    block script