input.text-field{
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  color: $fontColor75;
  box-sizing: border-box;
  border: 1px solid $border-light;
  padding: 10px;
}

.text-field_subscription{
  background: url("/assets/img/arrow_forward.png") no-repeat 220px 10px;
}

form{
  width: 100%;
}

input.text-field:hover,
input.text-field:active{
  border: 1px solid $border-base;
}

input.text-field::placeholder{
  color: $border-light;
}